.header {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  color: #fff;
  font-size: 25px;
}

.form-body {
  display: flex;
  justify-content: center;
  height: 100vh;
  form {
    position: absolute;
    width: 800px;
    padding: 10px 20px;

    input {
      margin-bottom: 40px;
    }
  }
}

.error {
  background-color: red;
  color: white;
  padding: 2px 4px;
  font-size: 13px;
  margin-top: 5px;
  border-radius: 3px;
}

@media (min-width: 360px) {
  .header {
    width: 60%;
    text-align: center;
    top: 15px;
    font-size: 18px;
  }

  .form-body {
    form {
      width: 350px;
      label {
        font-size: 18px;
      }
    }
  }
}
@media (min-width: 576px) {
  .header {
    top: 13px;
    font-size: 22px;
  }
  .form-body {
    form {
      width: 550px;
      label {
        font-size: 20px;
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    top: 10px;
    font-size: 26px;
  }
  .form-body {
    form {
      width: 700px;
      label {
        font-size: 24px;
      }
    }
  }
}
@media (min-width: 992px) {
  .header {
    top: 6px;
    font-size: 30px;
  }
  .form-body {
    form {
      width: 850px;

      label {
        font-size: 26px;
      }
    }
  }
}
